.map{
    width: 100%;
    height: 100%;
}

#location{
    position:absolute;
    top: 160px;
    left: 255px;
}

#gps{
    position:absolute;
    bottom:1em;
    left:250px;
}
#controlLayer{
    position:absolute;
    top:6em;
    right:2.5%
}

#panelLayers{
    position: absolute;
    top: 9em;
    right: 2%;
    display: none;
}

#modal_usr{
    position: absolute;
    top: 9em;
    right: 50%;
    display: none;
}